<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>

    <!-- CSS Framework: Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"
            integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf"
            crossorigin="anonymous"></script>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><%= title %></a>
    <ul class="navbar-nav ml-auto" id="register">
        <li class="nav-item">
            <a class="nav-link" href="/signup">Register</a>
        </li>
    </ul>
</nav>

<form class="pb-2 pt-5" id="login-form" method="POST" action=".">
    <div class="form-group row">
        <div class="col-sm-3">
            <input class="form-control" id="form-username" name="username" type="text" placeholder="Username">
        </div>
        <div class="col-sm-3">
            <input class="form-control" id="form-password" name="password" type="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Login</button>
    </div>
</form>

<div id="basket-container">
    <button id="show-basket">Show Basket</button>
    <div id="basket" style="display: none">
        <div class="container pb-5 mb-sm-1" id="shop-basket">
            <div class="row" id="basket-row"></div>
        </div>
        <form id="checkout-form" method="post" action="http://localhost:8000/order">
            <div class="form-group row">
                <div class="col-sm-3">
                    <label for="shipping_addr">Shipping Address</label>
                    <input type="text" class="form-control" name="shipping_addr" placeholder="Shipping Address" id="shipping_addr">
                </div>
                <div class="col-sm-3">
                    <label for="credit_card_number">Credit Card Number</label>
                    <input type="text" class="form-control" name="credit_card_number" placeholder="Credit Card Number" id="credit_card_number">
                </div>
                <div class="col-sm-3">
                    <label for="expiry_date">Expiry Date</label>
                    <input type="text" class="form-control" name="expiry_date" placeholder="Expiry Date" id="expiry_date">
                </div>
                <div class="col-sm-3">
                    <label for="ccv">CCV</label>
                    <input type="text" class="form-control" name="ccv" placeholder="CCV" id="ccv">
                </div>
            </div>
            <button type="submit" class="btn btn-primary mb-2">Check Out</button>
        </form>
    </div>
</div>

<div class="container pb-5 mb-sm-1" id="product-table">
    <div class="row" id="product-row"></div>
</div>


<script>
    fetch("http://localhost:8000/api/products/?format=json") // make a request to this endpoint
        .then(response => response.json()) // with our response, get the json data returned
        .then(data => {
            console.log(data) // log the json data
            data.forEach(element => {
                let table = document.getElementById("product-row")
                let newRow = document.createElement("div")
                newRow.setAttribute("class", "card mt-5 mx-auto")
                newRow.setAttribute("style", "width: 18rem;")
                table.appendChild(newRow)

                let picture = document.createElement("img")
                picture.src = element['picture']
                picture.setAttribute("class", "card-img-top")
                picture.setAttribute("style", "width: 100%; height: 15vw; object-fit: cover;")
                newRow.appendChild(picture)

                let cardBody = document.createElement("div")
                cardBody.setAttribute("class", "card-body")
                newRow.append(cardBody)

                let name = document.createElement("h5")
                name.innerHTML = element['name']
                name.setAttribute("class", "card-title")
                cardBody.appendChild(name)

                let desc = document.createElement("p")
                desc.innerHTML = element['description']
                desc.setAttribute("class", "card-text")
                cardBody.appendChild(desc)

                let message = document.createElement("textarea")
                message.setAttribute("class", "form-control")
                cardBody.appendChild(message)

                let button = document.createElement("button")
                button.innerHTML = "Add to Basket - " + element["price"]
                button.setAttribute("class", "btn btn-dark btn-block mt-3")
                button.addEventListener('click', function () {
                    addToBasket(element['id'], message.value)
                })
                cardBody.appendChild(button)

            })
        })

    let loginForm = document.getElementById("login-form")
    loginForm.addEventListener("submit", (event) => {
        event.preventDefault()
        let user = document.getElementById("form-username").value
        let pass = document.getElementById("form-password").value
        fetch("http://localhost:8000/token/", {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({username: user, password: pass})
        }).then(response => response.json()).then(function (data) {
            console.log(data)
            window.token = data['token']
        }).then(result => {
            if (window.token) {
                let register = document.getElementById("register")
                register.style.display = "none"
                loginForm.style.display = "none"
            }
        })
    }, true)

    let checkoutForm = document.getElementById("checkout-form")
    checkoutForm.addEventListener("submit", (event) => {
        event.preventDefault()
        let shipping_addr = document.getElementById("shipping_addr").value
        let credit_card_number = document.getElementById("credit_card_number").value
        let expiry_date = document.getElementById("expiry_date").value
        let ccv = document.getElementById("ccv").value
        if (window.token) {
            fetch("http://localhost:8000/order/?format=json", {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',
                    'Authorization': 'Token ' + window.token
                },
                body: JSON.stringify({
                    "shipping_addr": shipping_addr,
                    "credit_card_number": credit_card_number,
                    "expiry_date": expiry_date,
                    "ccv": ccv
                })
            }).then(response => response.json()).then(data => console.log(data))
        } else {
            alert("Please login to continue")
        }
    }, true)

    function addToBasket(productId, messageContent) {
        if (window.token) {
            fetch("http://localhost:8000/addbasket/" + productId + "?format=json", {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',
                    'Authorization': 'Token ' + window.token
                },
                body: JSON.stringify({"message": messageContent})
            }).then(response => response.json()).then(data => console.log(data))
        } else {
            alert("Please login to continue")
        }
    }

    function showBasket() {
        let table = document.getElementById("basket-row")
        while (table.firstChild) {
            table.removeChild(table.lastChild)
        }
        if (window.token) {
            let basket = document.getElementById("basket")
            if (basket.style.display === "none") {
                basket.style.display = "block"
            } else {
                basket.style.display = "none"
            }
            fetch("http://localhost:8000/basket/?format=json", {
                method: 'GET',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',
                    'Authorization': 'Token ' + window.token
                }
            }).then(response => response.json()).then(data => {
                data['items'].forEach(element => {
                    let newRow = document.createElement("div")
                    newRow.setAttribute("class", "card mt-5 mx-auto")
                    table.appendChild(newRow)

                    let newCard = document.createElement("div")
                    newCard.setAttribute("class", "card border-0")
                    newCard.setAttribute("style", "width: 18rem;")
                    newRow.appendChild(newCard)

                    let picture = document.createElement("img")
                    picture.src = "http://localhost:8000" + element['picture']
                    picture.setAttribute("class", "card-img-top")
                    picture.setAttribute("style", "width: 100%; height: 15vw; object-fit: cover;")
                    newCard.appendChild(picture)

                    let cardBody = document.createElement("div")
                    cardBody.setAttribute("class", "card-body")
                    newCard.appendChild(cardBody)

                    let name = document.createElement("h5")
                    name.setAttribute("class", "card-title")
                    name.innerHTML = element['product']
                    cardBody.appendChild(name)

                    let message = document.createElement("p")
                    message.setAttribute("class", "card-text")
                    message.innerHTML = element['message']
                    cardBody.appendChild(message)

                    let price = document.createElement("p")
                    price.setAttribute("class", "card-text")
                    price.innerHTML = element['price']
                    cardBody.appendChild(price)
                })
            })
        } else {
            alert("Please login to continue")
        }
    }

    let showBasketButton = document.getElementById("show-basket")
    showBasketButton.setAttribute("class", "btn btn-primary mb-2")
    showBasketButton.addEventListener("click", (event) => {
        event.preventDefault()
        showBasket()
    })

    let checkoutButton = document.getElementById("checkout-button")
    checkoutButton.addEventListener("submit", (event) => {
        event.preventDefault()
        let ship_addr = document.getElementById("shipping_addr").value

        fetch("http://localhost:8000/order/?format=json", {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
                'Authorization': 'Token ' + window.token
            },
            body: JSON.stringify({shipping_addr: ship_addr})
        }).then(function (response) {
            console.log(response)
            return response.json()
        }).then(function (data) {
            console.log(data)
        })
    }, true)
</script>
</body>
</html>
