.login, .welcome, .form, .product_crate {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}

.form-group {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}

.btn-primary {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding:  5px 20px;
    width: 15%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.carousel-item {
    height: 60vh;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-item {
    height: 60vh;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
