.login, .welcome, .form, .product_crate {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.form-group {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.btn-primary {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding:  5px 20px;
    width: 20%;
}
