.login, .welcome, .form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.form-group {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}

.btn-primary {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding:  5px 20px;
    width: 15%;
}
