{% extends "base.html" %}

{% block title %}Vegetables{% endblock %}

{% block content %}
    {% for p in products %}
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{ p.picture.url }}" alt="Card image cap" style="width: 100%; height: 15vw; object-fit: cover;">
            <div class="card-body">
                <h5 class="card-title">{{ p.name }}</h5>
                <p class="card-text">{{ p.description }}</p>
                <a href="/product/{{ p.id }}" class="btn btn-primary">Buy - {{ p.price }}</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}