{% extends "base.html" %}

{% block title %}All Orders{% endblock %}

{% block content %}
    <div class="container pb-5 mb-sm-1">
        <div class="row">
            {% for order in orders %}
                <div class="col-md-4 col-sm-4">
                    <div class="card border-0">
                        <div class="card-body">
                            <p class="card-title">{{ order.date_created }}</p>
                            <p class="card-text">{{ order.shipping_addr }}</p>
                            <a href="/admin_view_order/{{ order.id }}" class="btn btn-dark">view products</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}