{% extends "base.html" %}

{% block title %}Vegetables{% endblock %}

{% block content %}
    <div class="container pb-5 mb-sm-1">
        <div class="row">
            {% for p in products %}
                <div class="col-md-4 col-sm-6">
                    <div class="card border-0" style="width: 18rem;">
                        <img class="card-img-top" src="{{ p.picture.url }}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ p.name }}</h5>
                            <p class="card-text">{{ p.description }}</p>
                            <p class="card-text">{{ p.message }}</p>
                            <a href="/remove_basket/{{ p.basket_item_id }}" class="btn btn-dark">Remove from Basket</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <a href="/order" class="btn btn-dark fixed-bottom mx-auto" style="width: 15rem;">Order all - {{ price }}</a>
{% endblock %}