{% extends 'base.html' %}
{% load static %}

{% block title %}
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <form action="." method="POST">
        {% csrf_token %}
        <img src="{% static 'images/login.jpeg' %}" alt="login logo" class="login">
        {% for field in form %}
            <div class="form-group">
                <label for="{{ field.name }}">{{ field.label }}</label>
                {{ field }}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
{% endblock %}