{% extends "base.html" %}
{% load static %}

{% block title %}Complete Order{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <form action="/order/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <img src="{% static 'images/crate.jpeg' %}" alt="crate logo" class="product_crate">
        {% for field in form %}
            <div class="form-group">
                <label for="{{ field.name }}">{{ field.label }}</label>
                {{ field }}
            </div>
        {% endfor %}
        <input type="submit" class="btn btn-primary" value="submit">
    </form>
{% endblock %}