{% extends "base.html" %}

{% block title %}
    {{ product.name }}
{% endblock %}

{% block content %}
    {% if added %}
        <h1>Added product</h1>
    {% endif %}
    <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.description }}</p>
            <form action="/addbasket/{{ product.id }}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_table }}
                <input type="submit" value="Buy">
            </form>
        </div>
    </div>
{% endblock %}