{% extends "base.html" %}
{% load static %}

{% block title %}
    User Signup
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <form action="." method="POST">
        {% csrf_token %}
        <img src="{% static 'images/welcome.jpeg' %}" alt="welcome logo" class="welcome">
        {% for field in form %}
            <div class="form-group">
                <label for="{{ field.name }}">{{ field.label }}</label>
                <input type="{{ field.field.widget.input_type }}" class="form-control" name="{{ field.name }}" id="{{ field.name }}">
                {% if field.errors %}
                    <div class="alert alert-danger" role="alert">
                    {% for error in field.errors %}
                          {{ error }}
                    {% endfor %}
                    </div>
                {% endif %}

            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
{% endblock %}